#include <winver.h>

1 RT_MANIFEST "KDBGSetup.manifest"

1 VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "KDBG Project\0"
            VALUE "FileDescription", "KDBG elevated product setup\0"
            VALUE "FileVersion", "1.1.0.0\0"
            VALUE "InternalName", "KDBGSetup\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 KDBG Project\0"
            VALUE "OriginalFilename", "KDBGSetup.exe\0"
            VALUE "ProductName", "KDBG\0"
            VALUE "ProductVersion", "1.1.0.0\0"
            VALUE "Comments", "KDBG local Windows target setup\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
