#include <winver.h>

#define KDBG_FILE_VERSION 1,1,0,0
#define KDBG_FILE_VERSION_STRING "1.1.0.0\0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KDBG_FILE_VERSION
 PRODUCTVERSION KDBG_FILE_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "KDBG Project\0"
            VALUE "FileDescription", "KDBG Probe Fixture Driver\0"
            VALUE "FileVersion", KDBG_FILE_VERSION_STRING
            VALUE "InternalName", "KDbgProbe.sys\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 KDBG Project\0"
            VALUE "OriginalFilename", "KDbgProbe.sys\0"
            VALUE "ProductName", "KDBG\0"
            VALUE "ProductVersion", KDBG_FILE_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
